body{
  margin: 0;
  padding: 0;  
}
.opciones-menu {
    display: flex;
    flex-wrap: nowrap;
}
#menu{
    width: 200px;
    height: 40px;
}
#menu ul li{
    display: inline;
}
#menu u li a{
    float: left;
    text-decoration: none;
}
.seccion1{
    background-color: #ff3127;
}
.seccion1 > #part1{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 100px;
    padding-right: 100px;
}
.titulo-seccion1 > img{
    width: 30px;
    height: 30px;
    padding-left: 30px;
}
.titulo-seccion1 > h1{
    margin-bottom: 0px;
    margin-top: 0px;
}
.titulo-seccion1 > #tl1{
    margin-left: 40px;
}
#parrafo1{
    margin-left: 45%;
}
#imag1 > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    height: 500px;
    border: 20px solid #fff;
}
#body-galeria{
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}
.galeria{
    background-color: rgb(255, 255, 255) ;
    width: 15%;
    padding: 10px 20px 5px 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
}
.galeria  img{
    width: 100%;
}
.text-galeria > h1{
    font-size: 1.5rem;
}
.galeria:hover{
    background-color: #2eb6ff;
}
#img-part1 > img{
    width: 350px;
    height: 150px;
}
.seccion2{
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #01820b;
}
.partes{
    flex-wrap: wrap;
    padding: 10px 20px 5px 20px;
    width: 30%;
}
#video > video{
    width: 350px;
    height: 150px;
}
#img-spi > img{
    width: 350px;
    height: 150px;
}
.text-part3 > li{
    text-align: right;
}
.seccion3{
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #2eb6ff;
}
.numero{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    background-color: #ff3127;
}
.num{
    display: flex;
}
.letras{
    padding-left: 20px;
}